[color]
	branch = auto
	interactive = auto
	status = auto
	diff = auto
	ui = true
[merge]
        tool = diffuse
[diff]
        tool = diffuse
[mergetool "vimdiff"]
   cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[difftool "vimdiff"]
    cmd = vim \"$MERGED\"
    prompt = false
[branch]
   autosetupmerge = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta
    plain = white bold
    old = red bold
    new = green bold
    commit = yellow bold
    func = green dim
#plain = white bold

[color "status"]
       added = yellow
       changed = green
       untracked = cyan

[user]
	name = Yinxiao Zhang
	email = yinxiao.zhang@gmail.com

[core]
	editor = vim
	pager = less -RX
	excludesfile = /Users/yinxiaoz/.gitignore_global
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --abbrev-commit --      date=relative
    lp = log -p
    wc = whatchanged -m --name-status
    st = status 
    br = branch
    co = checkout
    cam = commit -am
    last = cat-file commit HEAD
    l = "log --pretty=format:'%h %ad  %s%x09%ae' --date=short"
        # In case autosetuprebase was not on
    sync = pull --rebase
    unadd = reset --mix
    uncommit = reset --soft
    undo = reset --hard
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[branch]
	autosetuprebase = always
[help]
    autocorrect = 1
[push]
	default = simple
